.project-items {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;           
  gap: 20px;                  
}

.project-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  width: 140px;
  cursor: pointer;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.project-item p{
  text-align: center;
}

.project-item p{
    padding-right: 10px;
    padding-left: 10px;
}

.project-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;            /* responsive image */
  height: 100px;
}

@media (max-width: 768px) {
  .project-items {
    justify-content: center;
  }
}
