
.socials{
    display: flex;
    cursor: pointer;
}

.hand{
    height: 30px;
    width: 30px;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;

    
  /* Waving animation */
  animation: wave 1.6s ease-in-out infinite;
  transform-origin: 70% 70%;
}
.social-items {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/* Base animation for each item */
.social-items img {
  opacity: 0;
  transform: translateX(40px);
  animation: slideIn 0.4s ease forwards;
   height: 30px;
    width: 30px;
}

/* Staggered delays */
.social-items img:nth-child(1) {
  animation-delay: 0.05s;
}
.social-items img:nth-child(2) {
  animation-delay: 0.15s;
}
.social-items img:nth-child(3) {
  animation-delay: 0.25s;
}
.social-items img:nth-child(4) {
  animation-delay: 0.35s;
}

/* Keyframes */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
